/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.file-input {
  color: white;
  cursor: pointer;
  background-color: rgb(80, 78, 78);
  width: 350px;
  height: 25px;
  font-size: 12px;
  border: none;
  border-radius: 12px;
  padding-left: 7px;
  margin: 0px;
  margin-top: 5px;
  margin-left: 10px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: grey;
  margin-left: 10px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: grey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.setting-div {
  font-size: 16px;
  cursor: pointer;
}

.save-button {
  background-color: #4caf50;
  border: none;
  border-radius: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 35px;
  margin-top: -10px;
}

.browse-button {
  background-color: lightgray;
  border: none;
  border-radius: 12px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  width: 75px;
  height: 25px;
}

.setting-description {
  font-size: 14px;
  margin: 0px;
  margin-top: -10px;
  font-style: italic;
  margin-left: 10px;
}

/**
  * omega_edit
*/

.offset-div {
  font-size: 16px;
  width: 75px;
  height: 402px;
  text-align: center;
  cursor: default;
  float: left;
}
.offset-area {
  overflow: scroll;
  border: 1px solid;
  margin: 0px;
  padding: 5px;
  width: 75px;
  height: 402px;
  font-family: monospace;
  font-size: 12px;
}
.offset-text {
  margin-top: 10px;
  /* margin: 0px; */
  margin-bottom: 10px;
}

.encoding-div {
  font-size: 16px;
  width: 300px;
  height: 402px;
  cursor: default;
  float: left;
  padding-left: 15px;
}
.encoding-area {
  /* color: white; */
  border: 1px solid;
  margin: 0px;
  overflow: scroll;
  padding: 5px;
  width: 300px;
  height: 402px;
  font-family: monospace;
  font-size: 12px;
  /* cursor: pointer; */
}
.encoding-text {
  margin-top: 10px;
  /* text-align: center; */
  margin-bottom: 10px;
}

.decoded-div {
  font-size: 16px;
  width: 175px;
  height: 402px;
  cursor: default;
  float: left;
  padding-left: 15px;
}
.decoded-area {
  border: 1px solid;
  margin: 0px;
  overflow: scroll;
  padding: 5px;
  width: 300px;
  height: 402px;
  font-family: monospace;
  font-size: 12px;
  background-color: inherit;
  color: currentColor;
}
.decoded-text {
  margin-top: 10px;
  /* text-align: center; */
  margin-bottom: 10px;
}

.inspector-div {
  font-size: 16px;
  width: 110px;
  height: 402px;
  cursor: default;
  float: left;
  padding-left: 140px;
}
.inspector-text {
  margin-top: 10px;
  /* text-align: center; */
  margin-bottom: 10px;
}
.format-area {
  /* color: white; */
  border: 1px solid;
  margin: 0px;
  overflow: scroll;
  padding: 5px;
  width: 100px;
  height: 243px;
  font-family: monospace;
  font-size: 12px;
  padding-top: -10px;
  /* cursor: pointer; */
}
.stats-area {
  /* color: white; */
  border: 1px solid;
  margin: 0px;
  overflow: scroll;
  padding: 5px;
  width: 100px;
  height: 100px;
  font-family: monospace;
  font-size: 12px;
}

.viewport-div {
  font-size: 16px;
  /* width: 500px; */
  height: 402px;
  cursor: default;
  /* padding-left: 5px; */
  float: left;
  padding-top: 40px;
}
.viewport-text {
  margin-top: 15px;
  /* text-align: center; */
  margin-bottom: 10px;
}
.viewport-area {
  /* color: white; */
  border: 1px solid;
  margin: 0px;
  overflow: scroll;
  padding: 5px;
  width: 275px;
  height: 100px;
  font-family: monospace;
  font-size: 12px;
  /* padding-top: -10px; */
  margin-top: 0px;
  /* cursor: pointer; */
}
